{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      2, {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "react/jsx-filename-extension": [
      0
    ],
    "react/no-unknown-property": [
      0
    ],
    "react/prop-types": [
      0
    ],
    "react/react-in-jsx-scope": [
      0
    ]
  }
}